body{
    font-family: 'Montserrat', sans-serif;
}


h1{
    font-size: 50px;
}
.name-highlight{
    color: orange;
}
p{
    color: dimgray;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 2%;
    padding-left: 5%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url("developer-portfolio/top-banner.png");
}
section{
    height: 500px;
    background-repeat: no-repeat;
}
.link-button{
    text-decoration: none;
    padding: 10px 20px;
    background-image: linear-gradient(lightsalmon,tomato );
    color: white;
}
.single-expreience{
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    height: 60%;
    
}
.expreience-area{
    background-image: url(developer-portfolio/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    
}