body{
    font-family: 'Montserrat', sans-serif;
}


h1{
    font-size: 50px;
}
.name-highlight{
    color: orange;
}
.half-left{
    width: 40%;
    float: left;
    margin-left: 2%;
    padding-left: 5%;
}
.half-left img{
    width: 100%;
}
.top-banner{
    background-image: url("developer-portfolio/top-banner.png");
}
section{
    height: 500px;
    background-repeat: no-repeat;
}